<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title"> </app-breadcrumb>
    </div>
    <div class="row">
      <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>بحث</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input">
                        <i class="material-icons search-icon" matSuffix>
                          search
                        </i>
                      </label>
                      <input
                        placeholder="بحث"
                        type="text"
                        matInput
                        (keyup)="applyFilter($event)"
                        class="browser-default search-field"
                        aria-label="Search box"
                      />
                    </li>
                    <li class="tbl-header-btn m-2">
                      <h5>
                        المجموع: {{ totalDenar | number }} دع |
                        {{ totalDollar | number }} $
                      </h5>
                    </li>

                    <li class="tbl-header-btn m-2">
                      <div class="m-l-10" matTooltip="  بحث متقدم">
                        <button
                          type="button"
                          class="btn btn-info"
                          (click)="onAdvaceSearch()"
                        >
                          <i class="bi bi-binoculars-fill"></i>
                          بحث متقدم
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip=" تسجيل طلبات اخرى">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="otherRequest()"
                        >
                          <i class="fa fa-file-excel-o"></i>
                          تسجيل طلبات اخرى
                        </button>
                      </div>
                    </li>

                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip=" تسجيل مادة">
                        <button
                          type="button"
                          class="btn btn-warning"
                          (click)="addNew()"
                        >
                          <i class="fa fa-plus"></i>
                          تسجيل طلب مباشر
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body overflow-auto">
                <div *ngIf="showAdvanceSearch" class="row move11 mt-4">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label> تاريخ البحث من </mat-label>
                      <input
                        matInput
                        class="fs-5"
                        [matDatepicker]="picker1"
                        [(ngModel)]="dateSearchFrom"
                        (focus)="picker1.open()"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label> تاريخ البحث الى </mat-label>
                      <input
                        matInput
                        class="fs-5"
                        [matDatepicker]="picker2"
                        [(ngModel)]="dateSearchTo"
                        (focus)="picker2.open()"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div
                    class="col-xl-3 col-lg-3 col-md-6 col-sm-6"
                    matTooltip=" بحث   خلال فترة"
                  >
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="doSearch()"
                      [disabled]="dateSearchTo === '' || dateSearchFrom === ''"
                    >
                      <i class="fa fa-search"></i>
                      بحث
                    </button>
                  </div>
                </div>

                <div class="responsive_table">
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-cell advance-table"
                  >
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index">
                        <span class="mobile-label"> التسلسل:</span>
                        {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="img">
                      <mat-header-cell *matHeaderCellDef>
                        التصميم
                      </mat-header-cell>

                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> التصميم:</span>
                        <img
                          *ngIf="row.images.length"
                          [src]="'http://127.0.0.1:8000' + row.images[0].image"
                          style="max-width: 100px"
                          (click)="imgClick(row.images[0])"
                        />
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef>
                        اسم العميل
                      </mat-header-cell>

                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> اسم العميل:</span>
                        {{ row.agentTitle }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateAt">
                      <mat-header-cell *matHeaderCellDef>
                        التاريخ
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> التاريخ:</span>
                        {{ row.dateAt | date : "yyyy-MM-dd hh:mm:ss aa" }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <mat-header-cell *matHeaderCellDef>
                        السعر
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> السعر :</span>
                        {{ row.price | number }}
                        <span class="m-1" *ngIf="row.currency"> دع </span>
                        <span class="m-1" *ngIf="!row.currency"> $ </span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef>
                        الحالة
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الحالة :</span>
                        {{ row.status }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="paths">
                      <mat-header-cell *matHeaderCellDef>
                        المسارات
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> المسارات :</span>
                        <ng-container *ngIf="row.paths && row.paths.length">
                          <ul>
                            <li *ngFor="let path of row.paths">
                              {{ path.index }} - {{ translateStep(path.step) }}
                            </li>
                          </ul>
                        </ng-container>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                      <mat-header-cell *matHeaderCellDef>
                        الملاحظات
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الملاحظات:</span>
                        {{ row.comments }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0">
                        الاجراء
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="pr-0"
                      >
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="editCall(row)"
                          class="tbl-action-btn"
                          matTooltip="التحديث"
                        >
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          >
                          </app-feather-icons>
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="deleteItem(i, row)"
                          class="tbl-action-btn"
                          matTooltip="حذف"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          >
                          </app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                  </table>
                  <!-- Loading spinner -->
                  <div *ngIf="showSpinner" class="tbl-spinner">
                    <mat-progress-spinner
                      color="accent"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <div
                    *ngIf="showSpinner"
                    class="no-results"
                    [style.display]="
                      dataSource.filteredData.length === 0 ? '' : 'none'
                    "
                  >
                    No results
                  </div>
                  <mat-paginator
                    #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="2" *ngIf="selectedIndex === 1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>{{ caption }}</h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="selectedIndex = 0"
                        >
                          <i class="fa fa-arrow-right"></i>
                          رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="m-4">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                      <app-my-auto-complete
                        placeholder="اسم العميل"
                        [itemsList]="agentList"
                        [initValue]="varManufacturingOrder.agent"
                        (outputValue)="agentFN($event)"
                        dataKey="title"
                      ></app-my-auto-complete>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                      <mat-label style="display: block; font-weight: bolder">
                        العملة:</mat-label
                      >
                      <mat-radio-group
                        [(ngModel)]="varManufacturingOrder.currency"
                      >
                        <mat-radio-button [value]="true">
                          <span class="optSelect"> دينار </span>
                        </mat-radio-button>
                        <mat-radio-button [value]="false">
                          <span class="optSelect"> دولار </span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>
                          سعر التصميم
                          <span
                            *ngIf="varManufacturingOrder.price > 0"
                            style="color: red; font-size: 150%"
                          >
                            (
                            {{ varManufacturingOrder.price | number }}
                            )
                          </span>
                        </mat-label>
                        <input
                          matInput
                          type="number"
                          placeholder=" سعر التصميم"
                          [(ngModel)]="varManufacturingOrder.price"
                          (keyup.enter)="
                            varManufacturingOrder.price =
                              varManufacturingOrder.price * 1000
                          "
                        />
                        <mat-icon
                          matSuffix
                          *ngIf="varManufacturingOrder.currency"
                        >
                          دع
                        </mat-icon>
                        <mat-icon
                          matSuffix
                          *ngIf="!varManufacturingOrder.currency"
                        >
                          $
                        </mat-icon>
                      </mat-form-field>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width mb-3"
                        appearance="outline"
                      >
                        <mat-label>الملاحظات</mat-label>
                        <textarea
                          matInput
                          [(ngModel)]="varManufacturingOrder.comments"
                          class="description-area"
                        >
                        </textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" *ngIf="!varManufacturingOrder.otherOrder">
                    <!-- المستندات -->
                    <div class="row">
                      <h6 class="social-login-title">صورة المستندات</h6>
                      <div
                        *ngFor="
                          let x of varManufacturingOrder.images;
                          index as i
                        "
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2 d-flex justify-content-center"
                      >
                        <div class="img-container position-relative">
                          <span
                            role="button"
                            matTooltip="حذف الصورة"
                            class="position-absolute delete-icon-container"
                            style="color: red"
                            (click)="removeResetPicture(i)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </span>

                          <img
                            [src]="x?.obj?.value"
                            class="img-thumbnail rounded"
                            (click)="imgClick(x)"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="file-btn-container container-auth-form-btn">
                          <button
                            mat-raised-button
                            type="button"
                            color="primary"
                            class="btn-space"
                            (click)="selectPicture.click()"
                          >
                            <i class="bi bi-window-plus"></i>

                            اضافة صورة من الملفات
                          </button>

                          <button
                            mat-raised-button
                            color="accent"
                            (click)="addImageFromWebcam()"
                          >
                            صورة من كامرا
                            <mat-icon>photo_camera</mat-icon>
                          </button>

                          <input
                            #selectPicture
                            type="file"
                            accept="image/*"
                            onclick="this.value = null"
                            (change)="resetFromLocalFiles(selectPicture.files)"
                            style="display: none"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <button
                        class="btn-space"
                        mat-raised-button
                        [disabled]="
                          !varManufacturingOrder.agent ||
                          !varManufacturingOrder.price
                        "
                        [ngClass]="{
                          'btn btn-primary': !varManufacturingOrder.id,
                          'btn btn-success': varManufacturingOrder.id
                        }"
                        (click)="onSubmit()"
                        color="primary"
                      >
                        خزن البيانات
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="2" *ngIf="selectedIndex === 2">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>
                      {{ caption }}
                    </h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="selectedIndex = 0"
                        >
                          <i class="fa fa-arrow-right"></i>
                          رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="overflow-auto">
                  <div class="responsive_table">
                    <!--                     
                    <table
                      mat-table
                      [dataSource]="itemsDetals"
                      class="mat-cell advance-table"
                    >
                      <ng-container matColumnDef="sq">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <span class="mobile-label"> التسلسل:</span>
                          {{ i + 1 }}</mat-cell
                        >
                      </ng-container>

                      <ng-container matColumnDef="balance">
                        <mat-header-cell *matHeaderCellDef>
                          الرصيد
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الرصيد :</span>
                          <span class="balance">
                            {{ row.balance | number }}
                          </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef>
                          العملية
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> العملية</span>
                          {{ row.type }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>
                          العدد
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> العدد</span>
                          {{ row.quantity }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef>
                          {{ "Date" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">
                            {{ "Date" | translate }}:</span
                          >
                          {{ row.date | date : "yyyy-MM-dd" }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="comments">
                        <mat-header-cell *matHeaderCellDef>
                          {{ "CommnetsTAG" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">
                            {{ "CommnetsTAG" | translate }}:</span
                          >
                          {{ row.comments }}
                        </mat-cell>
                      </ng-container>

                      <mat-header-row
                        *matHeaderRowDef="dipBoxDetaise"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: dipBoxDetaise"
                        [style.cursor]="'pointer'"
                        matRipple
                      >
                      </mat-row>
                    </table>

                    <mat-paginator
                      #pagBoxDetails
                      [length]="itemsDetals.data.length"
                      [pageIndex]="0"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    >
                    </mat-paginator>
                 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
