::ng-deep .mat-mdc-tab-group > .mat-mdc-tab-header {
  display: none;
}
div.col-xl-9,
div.col-xl-6,
div.col-xl-3,
div.col-xl-2,
div.col-xl-8,
div.col-xl-4 {
  margin-top: -25px;
}

mat-option,
button,
mat-select {
  font-family: "Almarai", serif;
}
.selected-row {
  padding: 5px;
  margin: 5px;
  border: 2px solid #011302;
  background-color: #e0a4e6 !important;
  border-radius: 18px;
}

.edit-drawing {
  margin: 10px;
  padding: 10px;
  border: 2px solid #2973e2;

  border-radius: 18px;
}

p span {
  display: block;
}
mat-header-cell {
  font-weight: bolder;
}
.mat-column-seq {
  flex: 0 0 50px;
}
  .mat-column-items {
  flex: 0 0 450px;
}
 